<app-header></app-header>
<div class="popular-articles">
  <div class="content-wrapper">
    <div class="popular-articles-section">
    </div>
  </div>
</div>
<div>
  <div class="main-articles">
    <div class="content-wrapper main-articles-section">
      <app-search (searchEvent$)="applySearch($event)"></app-search>
    </div>
    <div class="content-wrapper articles-section">
      <ng-container *ngFor="let article of articles | filter:searchText | pagination:itemsPerPage:index">
        <div class="article" (click)="selectArticle(article)">
          <h4 class="article__title">{{article.name}}</h4>
          <p class="article__text" [innerHTML]="article.text | saveHtml"></p>
        </div>
      </ng-container>
    </div>
    <div class="pagination" *ngIf="length > 1">
      <tui-pagination [length]="length" [index]="index" (indexChange)="goToPage($event)"></tui-pagination>
    </div>
  </div>
</div>
<app-dialog-window-article *ngIf="isOpen" (isOpen)="manageDialog($event)" [article]="article"></app-dialog-window-article>