.article {
  color:black;
  background-color: white;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  /* width: 100%; */

  padding: 20px 35px 40px 35px;
  height: 200px;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.article__title {
  min-width: 150px;
  width: 15vw;
  max-width: 250px;
  font-size: 18px;
}

.article__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.3;
}