<div class="header" *ngIf="offsetFlag">
  <div class="content content-wrapper">
    <li class="content__item" routerLink="/main" routerLinkActive="active-link">Главная</li>
    <li class="content__item" routerLink="/reviews" routerLinkActive="active-link">Преподаватели</li>
    <li class="content__item" routerLink="/map" routerLinkActive="active-link">Карта</li>
    <li class="content__item" routerLink="/articles" routerLinkActive="active-link">Полезная информация</li>
    <li class="content__item" routerLink="/contacts" routerLinkActive="active-link">Контакты</li>
    <li class="content__item logo">УрФУ</li>
  </div>
</div>
