<app-header></app-header>
<div class="popular-reviews">
  <div class="content-wrapper">
    <div class="popular-reviews-section">

    </div>
  </div>
</div>
<div class="content-wrapper ya-map">
  <div class="content">
    <h3 class="content__heading">Интересные места</h3>
    <p class="content__text">wduwhduwhduw</p>
  </div>
  <div class="container-map">
    <ya-map [center]="[56.844014, 60.653987]" [zoom]="14">
      <ya-placemark [geometry]="[56.844014, 60.653987]"></ya-placemark>
      <ya-placemark [geometry]="[56.840768, 60.650797]"></ya-placemark>
    </ya-map>
  </div>
</div>
