.popular-reviews {
	background-color: #4877D3;
	background: linear-gradient(135deg, rgb(35, 85, 185) 0%,rgba(72, 119, 211, 0.55) 100%);
	color: aliceblue;
}

.popular-reviews-section {
	padding: 150px 0 75px;
	font-size: 28px;
}

.ya-map {
  position: relative;
  padding-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 150px);
}

.content {
  padding-top: 50px;
}

.content__heading {
  font-size: 28px;
  font-weight: 100;
}

.content__text {
  margin-top: 30px;
  font-size: 16px;
}

.container-map {
  max-height: 550px;
  max-width: 550px;

  min-height: 400px;
  min-width: 400px;

	width: 40%;
	height: 100%;
}