.popular-reviews {
	background-color: #4877D3;
	background: linear-gradient(135deg, rgb(35, 85, 185) 0%,rgba(72, 119, 211, 0.55) 100%);
	color: aliceblue;
}

.popular-reviews-section {
	padding: 150px 0 75px;
	font-size: 28px;
}

.courses {
	/* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; */
  color: black;
}

.search-section {
  padding: 45px 0 50px;
  position: relative;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-section__container {
  position: relative;
  width: 80%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-course {
  width: 20%;
}

.btn-create {
  margin-right: 0;
  justify-self: right;
}

.courses-section {
  padding: 45px 0 75px;
  position: relative;
  width: 100%;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-bottom: 75px;

  justify-content: space-evenly;
  /* justify-content: space-between; */
  gap: 30px;
}

.course {
  position: relative;
  color:black;
  background-color: white;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);

  padding: 0 15px 20px 15px;
  min-height: 200px;
  min-width: 200px;
  width: 30vw;
  max-width: 300px;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.course__title {
  min-width: 150px;
  /* width: 15vw; */
  /* max-width: 250px; */
  font-size: 18px;
  font-weight: 200;
  /* margin-bottom: 20%; */
}

.course__number {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 14px;
  /* text-align: end; */
}

.pagination {
  display: block;
  padding-bottom: 45px;
}