.popular-reviews {
	background-color: #4877D3;
	background: linear-gradient(135deg, rgb(35, 85, 185) 0%,rgba(72, 119, 211, 0.55) 100%);
	color: aliceblue;
}

.popular-reviews-section {
	padding: 150px 0 75px;
	font-size: 28px;
}