<app-header></app-header>
<div class="popular-articles">
  <div class="content-wrapper">
    <div class="popular-articles-section">
    </div>
  </div>
</div>
<div>
  <div class="main-articles">
    <div class="content-wrapper main-articles-section">
      <app-search-articles (searchEvent$)="applySearch($event)"></app-search-articles>
    </div>
    <div>
      <ng-container *ngFor="let article of articles | filter:searchText">
        <app-article [article]="article" (click)="selectArticle(article)"></app-article>
      </ng-container>
      <!-- <div class="pagination" *ngIf="length > 1">
        <tui-pagination [length]="length" [index]="index" (indexChange)="goToPage($event)"></tui-pagination>
      </div> -->
    </div>
  </div>
</div>
