.main {
	background-color: #4877D3;
	background: linear-gradient(135deg, rgb(35, 85, 185) 0%,rgba(72, 119, 211, 0.55) 100%);
	color: aliceblue;
}

.title-section {
	padding: 150px 0 75px;
}

.title-section__slogan {
	width: 35%;
	font-size: 32px;
	line-height: 1.07;
	font-weight: 200;
}

.title-section__text {
	margin-top: 50px;
	width: 40%;

	font-size: 16px;
	line-height: 1.15;
	font-weight: 200;
}

.news {
	color: rgb(103, 101, 101);
}

.news-section {
	padding: 60px 0 75px;
}

.news-section__heading {
	width: 60%;
	font-size: 24px;
	line-height: 1.07;
	font-weight: 300;
}

.news-section__text {
	margin-top: 50px;
	width: 60%;

	font-size: 16px;
	line-height: 1.15;
	font-weight: 200;
}