<app-header></app-header>
<div class="main">
  <div class="content-wrapper title-section">
    <h2 class="title-section__slogan">Учиться интереснее, когда ты знаешь где учишься</h2>
    <p class="title-section__text">Выпускники нашего университета уверенно строят карьеру в сфере экономических, социогуманитарных, исследовательских, ИТ, производственных и аналитических услуг в российских и зарубежных компаниях</p>
  </div>
</div>
<div class="news">
  <div class="content-wrapper news-section">
    <h2 class="news-section__heading">Новости Уральского Федерального</h2>
    <div class="news-section__text">
      <div class="post-vk" *ngFor="let post of posts">
        <div class="post-vk__inner">
          {{post.text}}
        </div>
        <div class="lower-curtain"></div>
      </div>
    </div>
  </div>
</div>
<div class="recommendations">
  <div class="content-wrapper recommendations-section">
    <h2 class="recommendations-section__heading">Полезные советы</h2>
    <ol class="recommendations__list">
      <li>
        Запомни, студент, главную вещь, отличающую вуз от школы: твой диплом – твои проблемы. Да, мы знаем, что в школах повсеместно натягивают тройки гоминидам, не достигшим даже уровня эректуса. Потому что учителя, завучи и директоры, во-первых, клепают отчёты об успеваемости школьного поголовья, а во-вторых, получают бабло за каждого барана из школьного стада. Среднюю школу не зря называют «отстойником» и «загоном», в котором держат тинейджеров до армии, чтобы те не шатались по улицам. Ты привык, что тебя тянули за уши? Забудь об этом.
        <p>В вузах отчисляют нещадно и эректусов, и неандертальцев, и даже некоторых недоэволюционировавших кроманьонцев. Потому что возраст уже позволяет сплавить их в армию! Или отправить раскладывать товары на полках супермаркета. Причём самый мощный поток отчисленных сливается в канализацию после первого семестра.</p>

        <p>Вузовским преподам глубоко фиолетово, доползёшь ли ты до диплома. Никто не будет за тобой бегать с просьбами сдать, наконец, зачёт. И родителей в деканат вызывать не будут.</p>
          
        <p>Заруби на носу: вуз – не школа! Ты стал взрослым! </p>
      </li>
      <li>
        Готовься самостоятельно работать с литературой. Если ты думаешь, что цель вуза – напичкать тебя знаниями, то глубоко ошибаешься. Цель вуза – научить тебя самостоятельно получать информацию, дать навыки самообразования и, желательно, сформировать у тебя научное мышление. Учебник даёт базис, лекции структурируют материал и помогают разложить его в твоей башке по полочкам, а рулит самостоятельный поиск материалов среди статей и монографий.
        <p>Часть материалов ты найдёшь в интернете (спасибо оцифровке!), но многое ещё не попало во всемирную паутину. Поэтому придётся топать в вузовскую, областную или специализированную библиотеку, делать выписки и ксерокопии. Ужас-ужас? Ничего, потом скажешь спасибо за то, что научили тебя учиться самостоятельно. В информационную эпоху знания устаревают очень быстро. Профессионалу нужно учиться и учиться, чтобы оставаться востребованным, а для этого нужно обладать навыками самообразования.</p>
      </li>
      <li>
        Настройся на новый ритм обучения. Уроки по 40 минут и длинные перемены остались в прошлом. Теперь придётся сидеть на парах, а перерыва хватит только на то, чтобы перебежать из аудитории в аудиторию (в столовую лучше отправляться во время «окон»). С другой стороны, есть и плюсы: возможно, в расписании будут дни, когда можно являться на вторую или даже на третью пару. Цени «окна»: вместо того, чтобы просто тупо шататься в ожидании следующей пары, сходи в библиотеку или в столовую.
      </li>
      <li>
        Попытайся понять, что ты уже взрослый и сам отвечаешь за результаты обучения в вузе. Учти, никто за тобой гоняться с напоминаниями о лекциях и семинарах не станет. И звонков родителям с вопросом: «Где ваше чадо, заболело или прогуливает?» – тоже не будет. Становись самостоятельным.
      </li>
      <li>
        Работай на зачётку. По крайней мере первые две сессии выкладывайся на все сто. Потом будет легче: чем лучше твой имидж, тем лояльней к тебе относятся преподаватели. И наоборот: к троеничкам и «хвостистам» преподы относятся с предубеждением. В общем, работай на зачётку, потом она будет работать на тебя.
      </li>
      <div class="good-luck">Удачи в обучении!</div>
    </ol>
  </div>
</div>
