<app-header></app-header>
<div class="main">
  <div class="content-wrapper title-section">
    <h2 class="title-section__slogan">Учиться интереснее, когда ты знаешь где учишься</h2>
    <p class="title-section__text">Наши выпускники уверенно строят карьеру в сфере экономических, социогуманитарных, исследовательских, ИТ, производственных и аналитических услуг в российских и зарубежных компаниях</p>
  </div>
</div>
<div class="news">
  <div class="content-wrapper news-section">
    <h2 class="news-section__heading">Новости университета и сообщества</h2>
    <p class="news-section__text">*news*</p>
  </div>
</div>
<div class="news">
  <div class="content-wrapper news-section">
    <h2 class="news-section__heading">Полезные советы</h2>
    <p class="news-section__text">*recommendations*</p>
  </div>
</div>
