<tui-root>
  <div class="wrapper"></div>
  <div class="dialog__container">
      <div class="dialog__container_outer">
      <div class="dialog__container_inner">
          <h2 class="dialog__title">{{course.name}}</h2>
          <p></p>
          <div class="dialog__buttons">
          <button tuiButton type="button" appearance="outline"
                  class="tui-space_right-3 tui-space_bottom-3 dialog__cancel" size="m"
                  (click)="manageDialog()">
              Закрыть
          </button>
          </div>
      </div>
      </div>
  </div>
  </tui-root>  
  