<tui-root>
  <div class="wrapper"></div>
  <div class="dialog__container">
      <div class="dialog__container_outer">
      <div class="dialog__container_inner">
          <h2 class="dialog__title">{{course.name}}</h2>
          <div class="main-info">
            <div><div class="main-info__field">12</div>Средняя оценка</div>
            <div><div class="main-info__field">3</div>Количество отзывов</div>
          </div>
          <div class="additional-estimates">
            <div><div class="additional-estimates__field">12</div>Интерес к предмету</div>
            <div><div class="additional-estimates__field">3</div>Польза от предмета</div>
            <div><div class="additional-estimates__field">3</div>Общедоступность курса</div>
          </div>
          <p></p>
          <div class="dialog__buttons">
          <button tuiButton type="button" appearance="outline"
                  class="tui-space_right-3 tui-space_bottom-3 dialog__cancel" size="m"
                  (click)="manageDialog()">
              <img src="">
          </button>
          </div>
      </div>
      </div>
  </div>
  </tui-root>  
  